<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        required
        minlength="3"
        #title="ngModel"
        placeholder="Title"
      />
      <mat-error *ngIf="title.errors?.minlength"
        >O campo deve ter no mínimo 3 caracteres</mat-error
      >
      <mat-error *ngIf="title.errors?.required"
        >O campo é obrigatório</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        name="content"
        [ngModel]="post?.content"
        required
        #content="ngModel"
        placeholder="Content"
      ></textarea>
      <mat-error *ngIf="content.errors?.required"
        >O campo é obrigatório</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      (click)="onSave(postForm)"
      [disabled]="postForm.invalid"
    >
      Save Post
    </button>
  </form>
</mat-card>
